.navbar {
  background-color: salmon !important;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-nav .nav-item .nav-link {
  color: rgb(193, 246, 255);
  font-weight: bold;
}

.navbar .navbar-toggler {
  outline: none;
  background-color: #eaf0ff;
}

.profile {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("./img/keyboard.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.profile:after {
  content: "";
  display: block;
  position: absolute;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(250, 128, 114, 0.8);
  background-image: radial-gradient(salmon 33%, transparent 33%);
  background-size: 4px 4px;
}

.profile h1,
.profile p {
  z-index: 1;
  padding: 0px 10px;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  text-align: center;
}

.about h1, .skills h1{
  padding: 90px 10px 70px 10px;
}


.skills{
  padding-bottom: 30px;
}
.skills img {
  height:100px;
  padding:23px;
}

.skill{
  display: flex;
  align-self: flex-start;
}



.skill-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-name{
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 12px;
font-weight: bold;
}

@media only screen and (max-width: 550px){
  .skill{
    width: 33.3%;
    height: 150px;
    margin-top: 20px;
  }

  .skill img{
    width: 100%;
    height: auto;
  }

  .skill-wrap {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

p {
  font-family: "Caveat", cursive;
  font-size: 26px;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  flex-grow: 1;
}

.projectName {
  font-size: 28px;
}

svg {
  margin: 0 auto;
  position: absolute;
  top: 87vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 40px;
  z-index: 1;
}

.projects {
  text-align: center;
  padding-bottom: 150px;
  position: relative;
}

.projects .col-lg {
  background-color: #eaf0ff;
  padding: 20px;
  margin-top: 20px;
  display:flex;
  flex-direction: column;
}

.right {
  margin-right: 20px;
}

.projects h1 {
  padding-top: 100px;
  padding-bottom: 60px;
}

.projects img {
  width: 100%;
  height: 180px;
}

.projects p {
  padding: 20px 0px;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  width: 140px;
  margin: 20px auto;
  background-color: salmon;
  color: white;
  outline: none;
  padding: 10px 0px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid salmon;
}

.button:hover {
  background-color: white;
  color: salmon;
  border: 1px solid salmon;
  text-decoration: none;
}

.contact {
  background-color: #eaf0ff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact h1 {
  
  padding-bottom: 60px;
  text-align: center;
}

.info {
  text-align: left;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

i {
  font-size: 30px;
  padding-bottom: 20px;
  color:rgb(193, 246, 255);
}

.info h4 {
  text-align: left;
  padding: 10px;
}

.topline {
  border-top: 1px solid black;
  font-family: "Caveat", cursive;
  font-size: 35px;
}

a {
  cursor: pointer;
}

.fa-github {
  padding: 0px;
  font-size: 20px;
  margin-left: 10px;
}

.border {
  border: 1px solid black;
}

.marginTop {
    margin-top: 70px;
}

.whitebg{
  background-color: white!important;
}

@media only screen and (max-width: 980px) {
  .right {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .contactInfo {
    font-size: 15px;
  }
  .projects {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .projects h1 {
    padding-bottom: 50px;
  }
  .contact h1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 767px) {
  .projects img {
    height: 400px;
  }
}

@media only screen and (max-width:426px){
  svg{
    top: 75vh;
  }
}

.overlay-container {
  position: relative;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  salmon;
  color: white;
  font-weight: 500;
  opacity: 0;
  transition: 0.9s;
}

.block {
  display: block;
}

.overlay p {
  font-family: "Arial";
  font-size: 20px;
  font-weight: 700;
  margin:0;
  padding:0;
}